* {
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    color: white;
}

html, body {
    background-image: linear-gradient(to right, #1F2123, #383C40);
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

button:hover {
    cursor: pointer;
}

button {
  border: none;
  padding: 1.2em;
  text-align: center;
  text-decoration: none;
  /*font-size: 16px;*/
  margin: 0.7em 0.7em;
    border-radius: 25%;
    font-weight: bold;
    display: block;
}

.center {
    margin: auto;
}

.upper{
    top: 0%;
}

.lower{
    top: 40%;
}

/*Drop-down */

/* The container must be positioned relative: */
.drop-down-select {
    position: relative;
    width: 40%;
    min-width: 100px;
    bottom: 0rem;
    margin: auto;
}

button:focus {outline:0;}

.drop-down-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: rgba(56, 60, 64, 1);
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 1em;
    right: 0.3em;
    width: 0;
    height: 0;
    border: 0.4em solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 0.5em;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-selected {
    border-radius: 1em;
}

.open {
    border-radius: 1em 1em 0em 0em;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: rgba(56, 60, 64, 0.7);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.2);
}

.disabled{
    pointer-events: none;
    opacity: 50%;
}

.select-text {
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */
}