

.main {
    width: 70%;
    height: 74%;
    min-height: 600px;
    min-width: 700px;
    background-color: #1F2123;
    font-color: white;
    border-radius: 1em;
    box-sizing: border-box;
    position: relative;
}

.drop-wrapper{
    width: 100%;
    margin-bottom: 2rem;
}

.center {
    margin: auto;
}

.menu-top {
    border-top-left-radius: 1em;
    background-color: rgba(56, 60, 64, 0.7);
    height: 13%;
    width: 70%;
    position:absolute;
}

.elem1 {
    display: block;
    height: 20%;
    position:relative;
    margin: 1.5em;
}

.side-menu {
    height: 100%;
    width: 30%;
    box-sizing: border-box;
    left: 70%;
    position: absolute;
}

.label {
    font-color: white;
    word-wrap: break-word;
    padding-bottom: 1rem;
    text-align: center;
}

.upper {
    width: 100%;
    position: absolute;
    text-align: center;
    padding-bottom: 0.5rem;
}

.lower{
    width: 100%;
    position: absolute;
    text-align: center;
    padding-bottom: 0.5rem;
    top: 40%;
}

.side-menu .content-wrapper{
    height: 90%;
    width: 80%;
    position: relative;
    margin: auto;
    top: 7%;
}

.left-menu {
    top: 13%;
    height: 72%;
    width: 70%;
    position: absolute;
}

.menu-bottom {
    height: 12%;
    width: 70%;
    top: 88%;
    position: absolute;
    float: bottom;
}

.pop-up-menu {
    background-color: rgba(198, 202, 207, 0.4);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

table {
    margin-top: 1em;
    table-layout: fixed;
    height: 90%;
    width: 100%;
}

thead > tr {
    position: relative;
    display: block;
    padding-bottom: 1em;
    width: 100%;

}

tbody {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

td, th {
    text-align: left;
    padding: 0.3em 2em;
}

th.small, td.small {
    width: 15%;
}

th.big, td.big {
    width: 70%;
}

th.small-4, td.small-4 {
    width: 12%;
    text-align: left;
}

th.big-4, td.big-4 {
    width: 64%;
}

th.medium-4, td.medium-4 {
    width: 25%;
}

tr:not(.table-head){
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: rgba(127, 138, 138, 0.1);
}

tr:nth-child(even):hover {
    background-color: rgba(127, 138, 138, 0.2);
}

tr:nth-child(odd):not(.table-head) {
    background-color: rgba(127, 138, 138, 0.4);
}

tr:nth-child(odd):not(.table-head):hover {
    background-color: rgba(127, 138, 138, 0.5);
}

.button.stop {
    width: 74px;
    height: 74px;
    border-style: solid;
    border-width: 37px;
    border-color: black;
    background-color: darkred;
}

.button-red {
    background-color: rgba(225, 66, 35, 0.8);
    margin: 7em auto auto auto;
}

.button-red:hover {
    background-color: rgba(225, 66, 35, 1);
}

.elem2{
    display: inline-block;
}

.button-download{
    background-color: rgba(35, 67, 217, 0.8);
    margin-left: 2rem;
    padding: 0.8em;
}

.button-download:hover{
    background-color: rgba(35, 67, 217, 1);
}

#pointer.warning {
    background: yellow;
}

#pointer.warning:after {
    border-top: 1em solid yellow;
    border-bottom: 1em solid yellow;
}

#pointer.warning:before {
    border-right: 1em solid yellow;
}

#pointer.good {
    background: #149623;
    color: white;
}

#pointer.good:after {
    border-top: 1em solid #149623;
    border-bottom: 1em solid #149623;
}

#pointer.good:before {
    border-right: 1em solid #149623;
}

#pointer.attention {
    background: #F69810;
}

#pointer.attention:after {
    border-top: 1em solid #F69810;
    border-bottom: 1em solid #F69810;
}

#pointer.attention:before {
    border-right: 1em solid #F69810;
}

#pointer.offline {
    background: #e14123;
    color: white;
}

#pointer.offline:after {
    border-top: 1em solid #e14123;
    border-bottom: 1em solid #e14123;
}

#pointer.offline:before {
    border-right: 1em solid #e14123;
}

#pointer {
    width: 30%;
    min-width: 2em;
    height: 2em;
    line-height: 2em;
    position: relative;
    font-weight: bold;
    text-align: center;
    margin: auto auto auto 3em;
    color: #1F2123;
}

#pointer:after {
    content: "";
    position: absolute;
    right: -1em;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
}

#pointer:before {
    content: "";
    position: absolute;
    left: -1em;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}

#pointer #status {
    color: inherit;
    display: inline;
}

.text-centered {
    position: relative;
    margin: auto;
    color: #1F2123;
    width: 100%;
    hight: 100%;
}

#wrong-data {
background-color:
    rgba(225, 66, 35, 0.8);
}

#wrong-data:hover {
background-color:
    rgba(225, 66, 35, 1);
}

scroll-tbody-y { height:80px; overflow:auto;}

.fa-stop {
    color: rgba(225, 66, 35, 1);
}

.fa-cog {
    color: white;
}

.button-icon {
    background-color:  rgba(31, 33, 35, 0.7);
    padding: 0.8em;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 0;
    border-radius: 30%;
    display: inline-block;
}

.button-icon:hover {
    background-color: rgba(31, 33, 35, 1);
}

.close {
    -moz-border-radius-topright: 1em;
    height: 5%;
    width: 5%;
    font-size: 2rem;
    float: right;
    margin-top: 0.5rem;
    margin-right: 2rem;
    opacity: 60%;
}

.hidden {
    display: none;
}

.close:hover {
    opacity: 100%;
    cursor: pointer;
}

.bottom-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-side{
    position: relative;
    width: 70%;
    height: 10%;
    margin: 2em;
}

.address-list{
    position: relative;
    width: 70%;
    height: 80%;
    margin: 1em;
}

.table-wrapper {
    position: relative;
    height: 90%;
    width: 70%;
}

.button-ok {
    background-color: rgba(20, 150, 35, 0.7);
    position: relative;
    margin: auto;
}

.button-ok:hover {
    background-color: rgba(20, 150, 35, 1);
}

.address-list {
    margin: 1em;
    height: 70%;
    overflow-y: scroll;
}