<!DOCTYPE html>
<html lang="en">
<header>
    <title>MCU_Test</title>
    <script src="https://kit.fontawesome.com/011a299524.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='./lib/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='./js/drop-down.js')}}"></script>
    <link rel="stylesheet" href="../static/lib/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="../static/css/common.css">

    {{ JSGlue.include() }}

    {% block css %}{% endblock %}
    {% block scripts %}{% endblock %}
</header>
<body>
    {% block body %}{% endblock %}
</body>
</html>