<!DOCTYPE html>
<html>
<header>
    <title>MCU_Test</title>
    <script src="https://kit.fontawesome.com/011a299524.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/drop-down.js" async></script>
</header>
<body>
<div draggable="true" class="main center">
    <span class="menu-top insiders">
        <button class="button-icon"><i class="fas fa-stop"></i></button>
        <button class="button-icon"><i class="fas fa-cog"></i></button>
        <button class="button-icon">reset&nbsp;<i class="fas fa-info-circle"></i></button>
        <button class="button-icon">mem-error&nbsp;<i class="fas fa-info-circle"></i></button>
        <button class="button-icon">com-error&nbsp;<i class="fas fa-info-circle"></i></button>
    </span>
    <span class="left-menu insiders">
        <table CELLSPACING=0 class="insiders">
            <thead>
            <tr class="table-head">
                <th>
                    <div>Counter</div>
                </th>
                <th>
                    <div>Time</div>
                </th>
                <th>
                    <div>Data received</div>
                </th>
            </tr>
            </thead>
            <tbody class="scroll-tbody-y">
            <tr>
                <td>1.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>1.6</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr id="wrong-data">
                <td>3.</td>
                <td>1.65</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>10.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>11.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>12.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>13.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>14.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>15.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>16.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>17.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>18.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            <tr>
                <td>19.</td>
                <td>1.15</td>
                <td>0x3423432423432443</td>
            </tr>
            </tbody>
        </table>
    </span>
    <span class="side-menu insiders center hidden">
        <button class="button-red">Reset request</button>
    </span>
    <span id="settings" class="side-menu pop-up-menu insiders center hidden">
        <div class="close"><i class="fas fa-times"></i></div>
        <div class="content-wrapper">
            <div class="elem1">
            <div class="label centered">Heartbeat Frequency [Hz]:</div>
            <div class="drop-wrapper">
                <div class="drop-down-select centered">
                    <select>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
            </div>
                </div>
            <div class="elem1">
            <div class="label centered">Data format:</div>
            <div class="drop-down-select centered">
                    <select>
                        <option value="HEX">HEX</option>
                        <option value="BIN">BIN</option>
                    </select>
                </div>
                </div>
        </div>
    </span>
    <span id="info" class="side-menu insiders center pop-up-menu">
        <div class="close"><i class="fas fa-times"></i></div>
        <div class="content-wrapper">
            <div class="text-side">Index: 1</div>
            <div class="text-side"> Data length: 30 bytes</div>
            <div class="text-side"> Checksum: 0x48283</div>
            <div class="text-side">Purpose: RESET</div>
        </div>
    </span>
    <span class="menu-bottom insiders">
        <div class="bottom-wrapper">
        <button class="elem2 button-download">Download&nbsp;<i class="fas fa-download"></i>
        </button>
            <button class="elem2 button-status">Status: Warning
        </button>
        <!--    <div class="status-wrapper elem2">
        <div id="status" class=" warning">Status: Warning</div>
        <div class="arrow-right "></div>
            </div>
        </div> --->
    </span>
</div>
</body>
</html>