<!DOCTYPE html>
<html>
<header>
    <title>MCU_Test</title>
    <script src="https://kit.fontawesome.com/011a299524.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/drop-down.js" async></script>
    <link rel="stylesheet" href="../static/css/start.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<body>
<div draggable="true" class="main-small">
    <span class="elem">
        <div class="label-wrapper"><div class="label centered">Communication Port:</div></div>
        <div class="drop-wrapper">
            <div class="drop-down-select centered" >
                <select>
                    <option value="COM1">COM1</option>
                    <option value="COM2">COM2</option>
                    <option value="COM3">COM3</option>
                </select>
            </div>
        </div>
    </span>
    <span class="elem">
        <div class="label-wrapper "><div class="label centered">Baudrate:</div></div>
            <div class="drop-wrapper">
                <div class="drop-down-select centered" >
                    <select>
                        <option value="4800">4800</option>
                        <option value="9600">9600</option>
                        <option value="19200">19200</option>
                    </select>
                </div>
            </div>
    </span>
    <span class="elem">
        <button class="button-start centered">Start &nbsp; <i class="fas fa-play"></i></button>
    </span>
</div>
</div>
</body>
</html>
