{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/css/start.css">
{% endblock %}
{% block body %}
    <form class="main-small" method="POST" action="{{ url_for('start_post') }}">
        <span class="elem">
            <div class="label-wrapper"><div class="label centered">Communication Port:</div></div>
                <div class="drop-wrapper">
                    <div class="drop-down-select centered">
                        <select name="port">
                            {% for port in serial_ports %}
                                <option value={{ port }}>{{ port }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        </span>
        <span class="elem">
            <div class="label-wrapper "><div class="label centered">Baudrate:</div></div>
                <div class="drop-wrapper">
                    <div class="drop-down-select centered">
                        <select name="baudrate">
                            {% for baudrate in baudrates %}
                                <option value={{ baudrate }}>{{ baudrate }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        </span>
        <span class="elem">
            <button class="button-start centered" type="submit">Start &nbsp; <i class="fas fa-play"></i></button>
        </span>
    </form>
{% endblock %}
